/* src/index.css */
@import "./entities/projectView/ui/project.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Pre-R';
    src: local('Pre-R'),
    url('shared/assets/fonts/Pretendard/Pretendard-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Pre-S';
    src: local('Pre-S'),
    url('shared/assets/fonts/Pretendard/Pretendard-SemiBold.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Bayon';
    src: local('Bayon'),
    url('shared/assets/fonts/Bayon/Bayon-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: local('Pretendard-Black'),
    url('shared/assets/fonts/Pretendard/Pretendard-Black.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard-Thin';
    src: local('Pretendard-Thin'),
    url('shared/assets/fonts/Pretendard/Pretendard-Thin.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: local('Pretendard-Medium'),
    url('shared/assets/fonts/Pretendard/Pretendard-Medium.woff');
    font-weight: 400;
}

.show {
    opacity: 1;
  }

.text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.carousel1 {
    /* ... */
    will-change: transform; /* 브라우저에 애니메이션할 것을 미리 알려 친절하게 대하세요. */
    animation: scrolling 3s linear infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
  }

.carousel2 {
    /* ... */
    will-change: transform; /* 브라우저에 애니메이션할 것을 미리 알려 친절하게 대하세요. */
    animation: scrolling2 3s linear infinite;
  }

  @keyframes scrolling2 {
    0% {
      transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
  }

/* 그라데이션 배경 */
:root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
  }
  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  
  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
  }
  
  .gradient-bg svg {
    display: none;
  }
  
  .gradient-bg .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }
  
  .gradient-bg .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
  }
  
  .gradient-bg .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
  }
  
  .gradient-bg .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
  }
  
  .gradient-bg .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
  }
  
  .gradient-bg .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
  }
  
  .gradient-bg .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }